@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Metropolis';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Metropolis-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Metropolis-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Metropolis-Bold.ttf') format('truetype');
}

/* Add more font weights/styles as needed */
